TENANT_ID=00000000-0000-0000-0000-000000000000
CLIENT_ID=00000000-0000-0000-0000-000000000000
API_SCOPE=api://kscloud.io/demo-app-reg-backend-api/.default
API_BASE_URL=http://127.0.0.1:8000
EXPECTED_CUSTOMER_ID=customer-python-cert
KEY_VAULT_URL=https://your-vault-name.vault.azure.net/
CLIENT_AUTH_MODE=certificate
CLIENT_CERTIFICATE_SECRET_NAME=customer-python-cert-client-certificate
